@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import 'fontello.css';
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  padding-top: 40px;
  background-color: #FED100;
}

.nav-panel__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-panel__logo {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #333333;
}
.nav-panel__menu {
  max-width: 882px;
}
.nav-panel__menu-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 3fr 3fr;
  grid-template-columns: 2fr 2fr 2fr 3fr 3fr;
}
.nav-panel__item {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.nav-panel__phone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

.menu {
  display: none;
  border: none;
  text-decoration: none;
  float: right;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 1000;
  background-color: #FED100;
}
.menu:before {
  content: "";
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.nav-panel_noactive {
  display: -ms-grid;
  display: grid;
}

.home {
  background-color: #FED100;
}
.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 546px;
}
.home__title {
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 126.9%;
  color: #333333;
}
.home__title span {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}
.home__btn-order {
  position: relative;
  margin-top: 10px;
  max-width: 286.969px;
  max-height: 56px;
  border: 1px solid #FFFFFF;
  color: #FED100;
  background: #FED100;
}
.home__btn-order_2 {
  position: relative;
  padding: 16px 96px;
  margin-top: -45px;
  margin-left: -4%;
  z-index: 10000;
  border: none;
  color: #FFFFFF;
  background: #FF352B;
}
.home__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 66px;
}
.home__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.home__icons {
  display: block;
  max-width: 100%;
  width: 509px;
}
.home__icons:after {
  position: absolute;
  top: 180px;
  display: block;
  max-width: 100%;
  width: inherit;
  height: 310px;
  content: "";
  background: url("../img/home__icon_2.png") no-repeat;
  background-position: center center;
  background-size: cover;
}
.home__icon {
  position: relative;
  margin-bottom: -3px;
  z-index: 1000;
}
.home__phone {
  margin-top: 420px;
  padding: 24px;
  background-color: rgba(61, 155, 233, 0.8);
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 18px rgba(61, 155, 233, 0.3);
          box-shadow: 0 0 0 18px rgba(61, 155, 233, 0.3);
}
.home__phone:before {
  content: url(../img/phone.png);
}

.btn-order {
  vertical-align: middle;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  nav {
    padding-top: 27px;
  }

  .nav-panel__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
  }
  .nav-panel__logo {
    font-size: 16px;
    line-height: 27px;
  }
  .nav-panel__menu {
    position: fixed;
    right: 2%;
    top: 27px;
    text-align: right;
  }
  .nav-panel__menu-body {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .nav-panel__item {
    font-size: 12px;
    line-height: 27px;
  }
  .nav-panel__phone {
    font-size: 16px;
    line-height: 27px;
  }

  .menu {
    display: block;
  }

  .hide_menu {
    display: none;
  }

  .home {
    background-color: #FED100;
  }
  .home__body {
    margin-left: 5%;
    margin-right: 5%;
  }
  .home__content {
    text-align: center;
    -webkit-box-ordinal-group: 1002;
        -ms-flex-order: 1001;
            order: 1001;
  }
  .home__title span {
    font-size: 18px;
    line-height: 22px;
  }
  .home__description {
    display: none;
  }
  .home__icons {
    text-align: center;
    -webkit-box-ordinal-group: 1001;
        -ms-flex-order: 1000;
            order: 1000;
  }
  .home__icons:after {
    display: none;
  }
  .home__icon {
    display: inline-block;
    max-width: 100%;
    width: 248px;
    height: 396px;
    position: relative;
    z-index: 1000;
    margin-bottom: -3px;
  }
  .home__phone {
    display: none;
  }
}